.drone-monitor-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}

.container {
  display: flex;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5.0rem;
  width: 50%;
  height: 85%;
  padding: 1rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.map-container {
  width: 50%;
  height: 85%;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.drone-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(145deg, #f5f7fa, #e4e6e9);
  padding: 1rem; /* Adjusted padding */
  flex: 1;
  /* transform: scale(0.95); */
}

.drone-number {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: 1rem;
  align-self: flex-start;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem; 
  width: 100%;
}

.icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  height: 80px;
  overflow: hidden;
}

.icon {
  width: 48px;
  height: 48px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10%;
  margin-bottom: 2px;
  border: 2px solid transparent;
}

.icon-text {
  text-align: center;
  font-size: 1rem;
  margin-top: 2px;
  color: #4a4a4a;
  white-space: nowrap;
}

.drone-custom-icon {
  width: 30px;
  height: 30px;
  position: relative;
}

.drone-icon-container {
  position: relative;
}

.drone-icon {
  width: 50%;
  height: 50%;
}

.drone-icon-number {
  position: absolute;
  bottom: 100%;
  left:27%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bold;
  color:black;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: calc(0.5rem / 3);
  }
}

@media screen and (max-width: 768px) {
  .icon {
    width: 30px;
    height: 30px;
  }
  .icon-text {
    font-size: 0.6rem;
  }
  .drone-block {
    padding: 0.2rem;
  }
}
  
@media screen and (max-width: 480px) {
  .icon {
    width: 20px;
    height: 20px;
  }
  .icon-text {
    font-size: 0.5rem;
  }
  .drone-block {
    padding: 0.1rem;
    width: 40rem; /* Set a fixed width */
    height: 30rem; /* Set a fixed height */
  }
}

.blink-yellow{
  animation: blink-yellow 1s infinite;
}


/* DroneMonitor.css */
@keyframes blink-yellow {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: yellow;
  }
}




/* Additional styles for debugging */
.debug-border {
  border: 2px solid red;
}